tr.dublication td {
    background-color: #ffb3b5 !important;
}
.copyWrap{
    position:fixed;
    top:100px;
    width:50%;
}
.copyWrap textarea{
    width:100%;
}

.bootstrap .table td.markedOrange{
    background: #ffd99f !important;
}
.bootstrap .table td.markedGreen{
    background: #baffaf !important;
}
.bootstrap .table td.markedRedBorder{
    border:2px solid #CF0909 !important;
}
.copyWrap .btn{
    margin-right: 15%;
}
.copyWrap .btn-row{
    margin-top: 10px;
}