/********************************************************
			Templatemela Custom Styles
********************************************************/
.tm-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/megnor/grabbing.png") 8 8, move;
}
 .brands .customNavigation {  top: 43%;}
 .brands .customNavigation a.next::after{ display: none;}
.customNavigation {
  position: absolute;
  z-index: 959;
  width: 100%;
  top: 40%;
  direction: ltr !important;
}
.customNavigation a {
  position: absolute;
  font-size: 28px;
  font-weight: normal !important;
  line-height: 26px;
  padding: 1px 2px 0 2px;
  color: #c9c9c9 !important;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}


.special-products .customNavigation,  .lastest_block .customNavigation{
    width: auto;
    float: right;
    right: 0;
    top: -50px;
}

.product-accessories .customNavigation{
  top: -50px;
  right: 0;
  float: right;
  width: auto;
  margin: 0 auto;
}

.crosssell-products .customNavigation{
    top: -50px;
    right: 0;
    float: right;
    width: auto;
    margin: 0 auto;
}


.productscategory-products .customNavigation{
    top: -50px;
    right: 10px;
    float: right;
    width: auto;
    margin: 0 auto;
}

.btn.prev.productscategory_prev{
    left: -53px;
}
.brands .customNavigation a.prev {
  left: 0;
  right: auto;
}
.tm-hometabcontent .customNavigation{ 
    width: auto;
	position: absolute;
	margin: 0;
	top: -45px;
  display: inline-block;
  float: right;
  right: -10px;
  left: auto;
}


.tm-hometabcontent .customNavigation a.prev, .customNavigation a.prev{ 
	  left: auto;
    right: 31px;
}

.tm-hometabcontent .customNavigation a.next::after, .customNavigation a.next::after {
  border-left: 1px solid #e5e5e5;
  content: " ";
  height: 17px;
  left: 0;
  position: absolute;
  top: 5px;
}
.quickview .mask.additional_slider .customNavigation a.next::after, #main .images-container .js-qv-mask .customNavigation a.next::after{ display: none;}
.customNavigation a:hover{
	border-color: #edbb6f;
}
.customNavigation a:hover:before{ color: #edbb6f; }


#product #main .images-container .js-qv-mask.additional_slider .customNavigation a.prev {
  left: 0;
}
/*.brands .customNavigation a.prev {
    left: -15px;
}
.brands .customNavigation a.next {
  right: -12px;
}*/
.customNavigation a.next {
  right: 0;
}

@media (max-width: 991px) {

	#main .images-container .js-qv-mask { margin:0px; }
}
@media (max-width: 767px) {

	.tm-hometabcontent .customNavigation{ top: -25px !important;}
	.tm-hometabcontent .customNavigation{ left:-3px; right:0; float: none;}
	.brands .customNavigation a.next {
		right: 0;
	}
	.tm-hometabcontent .customNavigation a.next {
  	  right: 0;
	}
	.customNavigation a{ position: relative;}
	.customNavigation{ text-align: center;}
	.special-products .customNavigation{ margin:0;}
	.customNavigation a.next {
	  right: 0;
	}

	.brands .customNavigation a{ position: absolute;}
	#product #main .images-container .js-qv-mask.additional_slider .customNavigation a{ position: absolute;}
	#product #main .images-container .js-qv-mask.additional_slider .customNavigation a.prev {
		left: 0;
	}
	.tm-hometabcontent .customNavigation a.prev, .customNavigation a.prev {
	  left: auto;
	  right: -3px;
	}
	.brands .customNavigation {
	  top: 40%;
	}
}
@media (max-width: 480px) {
	.special-products .customNavigation{ top: -45px; right: -5px;}
	.product-accessories .customNavigation, .crosssell-products .customNavigation{ top: -47px;}
}
.customNavigation a.prev:before {
  content: "\E314";
  font-family: "Material Icons";
}
.customNavigation a.next:before {
  content: "\E315";
  font-family: "Material Icons";
}

#tmleftbanner img,
#tmrightbanner img{
	max-width: 100%;
  width: 100%;
}	

