/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label {
    text-align: right;
}
label,
.label,
.products .all-product-link {
    text-align: left;
}

@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {float: right;}
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.contact-rich .icon,
.products-selection .display li {
    float: right;
}

.pagination .page-list {
    float: left;
}
#product #breadcrumb_wrapper{
	 float: right;
     right: 20px;
	 left: auto;
    text-align: right;
}

/******* Header ********/

#header .header-nav .left-nav,
#header .header-top .menu > ul > li,
#header .header-top .header_logo,
.top-menu .sub-menu ul[data-depth="1"] > li {
    float: right;
}
#_desktop_user_info {
  float: left;
  margin: 5px 25px 0 30px;
  
}
.top-menu .sub-menu ul[data-depth="1"] > li {
    float: right;
    padding: 0 0 0 30px;
}
#_desktop_user_info .user-info, #header .header-nav .user-info{
	left: 0; 
	right: auto;
	text-align: right;
}
#_desktop_user_info > .user-info a, #header .header-nav .user-info a, #header .header-nav .user-info .account {
    float: right;
    margin-left: 10px;
	margin-right: auto;
}
.currency-selector .dropdown-menu.hidden-md-down.currencies_ul li {
  	margin-right: auto;
    margin-left: 8px;
}
#_desktop_user_info > .user-info .currency-selector a, #header .header-nav .user-info .currency-selector a {
    padding: 5px 10px 5px 1px;
}
#_desktop_user_info .user_bg, #_mobile_user_info .user_bg{ background-position: right 0 top -240px;}
#_desktop_user_info:hover .user_bg, #_mobile_user_info:hover .user_bg {
    background-position: right 0 top -300px;
}
#_desktop_user_info .tm_userinfotitle{ float: left;}
#header .header-nav .right-nav,
.search-widget {
    float: left;
}
.search-widget {
  float: left;
}
.search-widget form button[type="submit"]{ 
	border-radius:5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	background-position: right 17px top 13px;
}

.search-widget form button[type="submit"] .material-icons {
  padding: 1px 0;
}
.search-widget form input[type=text] {
	padding: 9px 16px 9px 100px;
}
.search-widget form button[type=submit] {
    left: 0px;
    right: auto;
}


#header .header-nav .blockcart {
    margin-left: 0px;
    
}
#header .cart_block {
    left: 0;
    right: auto;
}
.cart_block .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
.cart_block .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
.cart_block .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
.cart_block .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 10px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 40px;
}
.nav-tabs .nav-item + .nav-item {
    margin-right: 0.2rem;
	margin-left: auto;
}
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
    margin-left: 10px;
	margin-right: auto;
}
.flex-direction-nav a::before{ padding: 6px 4px 6px 6px;}
.flex-direction-nav a.flex-next::before {
  padding: 7px 2px 7px 7px;
}
/******* Product ********/
.flexslider{ float: right; margin: 0 0 18px 20px;}
#tmsubbanner{ float: left;}
#tmcmsblock .main-content, #tmcmsblock{ float: right;}

.products .product-miniature .product-flags .new,
.products .product-miniature .on-sale {
    right: 8px;
    left: auto;
}
.products .product_list li .quick-view{ 
	left: 6px; 
	right: auto;
	background-position: right 7px top -120px;
}
.products .product_list li .quick-view:hover {
    background-position: right 7px top -185px;
}
.products .product-miniature .product-flags .new.online-only, .products .product-miniature .online-only.online-only, .products .product-miniature .on-sale.online-only, .products .product-miniature .discount-percentage.online-only{
	left: 10px;
	right: auto;
}

.products .product-miniature .discount {
  left: 8px;
  right: auto;
}
.products .product_list {
    padding: 0px;
}
#products .products .list li.product_item .center-block {
    text-align: right !important;
}
#products .products .list li.product_item .center-block .product-actions {
  float: right;
  text-align: right;
}
.products .product_list li.product_item {
    float: right;
}
.product-quantity .qty,
.product-quantity .input-group-btn-vertical {
    float: right;
}
.product-quantity .add {
    float: right;

}


/******* General ********/

ul,
ol {
    padding-right: 0;
}
#right-column {
    padding-right: 15px;
    padding-left: 0px;
}
#left-column {
    padding-right: 0;
    padding-left: 30px;
}
.layout-left-column #content-wrapper{ padding-left:0px; padding-right:15px; }
.layout-right-column #content-wrapper{ padding-left:15px; padding-right:0px; }
.top_button {
    left: 15px;
    right: auto!important;
}
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}


.footerblock{ float: right;}
.block_newsletter .col-md-7.col-xs-12{ float: left;}

#tmfootercmsblock .footer_logo{
	float: right;
	 padding: 15px 35px 0 58px;
}

.lastest_block .blog-created .date{ float: right; text-align: right;}
.blog-item .blog-content-wrap{ text-align: right;}
.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}
.block_newsletter form input.btn {
    margin-left: 0px;
    margin-right: 5px;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	left: 0;
	right: auto;
}
#block-reassurance img {
    margin-left: 10px;
    margin-right: 0px;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}
.products-selection .sort-by {
    text-align: left;
    margin-left: 0px;
	right:30px;
	left:auto;
}
.row.footer-after{ float: left; text-align: left;}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap{ margin-right:80px !important; margin-left:auto;}
#blog-listing .pagination li, .Recnet-blog .pagination li{ margin:0 4px 0 0;}
#product-details .label, .product-features h3{ margin-right: 0;}
.product-features > dl.data-sheet dt.name{ margin-right: 0;}
.pagination .page-list {
    margin-left: -30px;
    margin-right: 0px;
}
.pagination a .material-icons {
    margin-left: 0px;
    margin-right: -2px;
}
.products-sort-order .dropdown-menu {
  right: 15px;
  width: 93%;
  left: auto;
}
.products-sort-order{ padding-left:10px ; padding-right: 15px;}
#product-modal .modal-content .modal-body .arrows{ left: 0; right: auto;}
#product-modal .modal-content .modal-body .arrows .arrow-down, #product-modal .modal-content .modal-body .arrows .arrow-up {
  left: 10px;
  right: auto;
}
#product-availability {
    margin-left: 0px;
    margin-right: 10px;
}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #ddd;
    border-right: 0px;
}
#blockcart-modal .cart-content button {
    margin-right: 0;
    margin-left: 0.3125rem;
}
.cart-summary-line .label {
    float: right;
}
body#checkout .custom-checkbox span,
body#checkout section.checkout-step .custom-radio{	
    margin-left: 8px;
    margin-right: 0px;
}
.done{
    margin-left: 1.5625rem;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] {
	margin-right:15px;
	margin-left: 0;
}
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#blockcart-modal .modal-title{ text-align: right !important; }
.sidebar-latest .product-item, #left-column .left-part{ float: right;}
.sidebar-latest .right-part {
  padding-right: 5px;
  padding-left: 0;
}
#left-column .left-part {
    margin-left: 5px;
    margin-right: auto;
}
#left-column .block_content .allproducts, #right-column .block_content .allproducts{ float: left;}
#left-column .block_content .right-part .product-description .product-price-and-shipping{ white-space: unset;}
#left-column .right-part .product-description { text-align: right;}
#search_filters .custom-radio {
  margin-right: auto;
  margin-left: 0.15rem;
}
.facet ul > li {
  float: right;
}

#search_filters .facet .facet-label{ text-align: right;}
#search_filters .facet .facet-label a {
  float: left;
}
.magnitude {
  float: left;
}
.product_item:hover:hover img.primary-image, .products li.item:hover img.primary-image {
  left: 10px;
  right: auto;
  transform-origin: 0 100% 0;
     -ms-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
	 -ms-transform-origin: left bottom;
}

@media (max-width: 991px) {
	.social-sharing{ text-align: right; }
	.product-quantity .add{	margin-right: 10px; margin-top: -5px; }
	.block_newsletter form .col-xs-12{ padding-right: 0px; margin-right: 0;}
	#content-wrapper,
	.layout-left-column #content-wrapper,
	.layout-right-column #content-wrapper, #left-column, #right-column{ padding-left:0px; padding-right:0px; }
}

.blockcart{
    float: left;
    clear: left;
}
.blockcart .cart-products-count {
    right: 17px;
	left: auto;
     padding: 2px 5px 1px 4px;

}
#tmnavcmsblock .navbannercms-content1 {
    text-align: right;
}
.close-btn {
    float: left;
    right: auto;
	left: 10px;
}

#tmnavcmsblock .contact_title{
    text-align: right;
}
#header .header-nav .user-info .account {
  margin-left: auto;
  margin-right: 10px;
}
#header .header-nav .user-info{
    
}
#header .header-nav .language-selector img {
    margin-left: 5px;
    margin-right: 0;
}
#header .header-nav .language-selector .dropdown-item img {
  margin-right: auto;
  margin-left: 8px;
}
#tm_vertical_menu_top .top-menu > li > a[data-depth="0"]::before, #tm_vertical_menu_top .more-view::before{ display: none;}
#tm_vertical_menu_top .top-menu > li > a[data-depth="0"]::after, #tm_vertical_menu_top .more-view::after {
  color: #bfbfbf;
  content: '\f177';
  font-family: "FontAwesome";
  font-size: 10px;
  font-weight: 300;
  padding-left: 10px;
}

.cart-title{
    float: right;
}
.cart-products-count{
    float: right;
}
#_desktop_cart{ float: left;}
.blockcart-header a #bgimage {
  background-position: right 0 top 7px;
  float: right;
  left: auto;
  right: 0;
}
#_desktop_cart .blockcart:hover .blockcart-header a #bgimage, #_mobile_cart .blockcart-header:hover a #bgimage{
    background-position: right 0 top 7px;
}
#contact_description{
    margin: 4px 20px 0 0;
}
#tmnavcmsblock #contact_img{
    float: right;
}
.vertical-menu .top-menu .sub-menu{
    left: auto;
    right: 100%;

}
.box-cms-content {
    float: right;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    padding: 0 180px 0 0px;
}
.service-right {
    border-left: 1px solid #ededed;
    border-right: medium none;
    float: right;
	padding-left: 13px;
	padding-right: 0;
	text-align: left;
}
.first-content{
   float: right;
}
.first-content:hover {
    background-position: right -244px;
}
.fourth-content:hover {
    background-position: right -309px;
}
.second-content:hover {
    background-position: right -372px;
}
.icon-left1{
    float: left;
    margin-left: auto;

}
.cms-icon{ float: left;}
.service-right .title{
    float: right;
}
.service-right .sub-title{
    float: right;
}

#tm_footerlink li:first-child {padding-right: 0; padding-left: 12px;}
.second-content{
    float: left;
}
.third-content{
    float: right;
}

.fourth-content{
	float: right;
	margin: 0 60px 0 55px
}
#links_block_top{
    float: right;
}
#tm_toplink{
    float: right;
}
#tm_toplink .block_content {
  float: left;
}
#tm_toplink ul li:first-child::after{ display: none;}
#tm_toplink ul li:last-child a {
    padding-left: 0;
    padding-right: 15px;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li{
    float: right;
	margin-left: 30px !important;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li:last-child {
  margin-left: 0 !important;
}
#tm_toplink li{
    float: right;
}
#tm_toplink ul li:last-child::after {
  display: block;
}
.more-wrap .material-icons{
    float: left;
    left: 0;
    right: auto;
}
#tmsubbanner li{
    float: right;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 0;
}
.tabs{
    float: left;
}
.nav-tabs .nav-item{
    float: right;
}
#product .product-tabcontent .tabs .nav-tabs .nav-link{margin-left: 30px; margin-right: auto;}
#index .tab-content{ float: right;}
.tab-main-title{ float: left;}
.tm-hometabcontent .customNavigation{ float: left !important; left: -10px !important; right: auto !important;}
.tm-hometabcontent .customNavigation a.prev::after, .customNavigation a.prev::after {
  border-left: 1px solid #d7d7d7;
  content: " ";
  height: 17px;
  right: 2px;
  left: auto;
  position: absolute;
  top: 5px;
}
.quickview .mask.additional_slider .customNavigation a.prev {
  left: 0 !important;
}
.quickview .mask.additional_slider .customNavigation a.next {
  left: auto !important;
  right: -5px !important;
}
.quickview .mask.additional_slider .customNavigation a.prev::after, #main .images-container .js-qv-mask .customNavigation a.prev::after {
  display: none;
}
.brands .customNavigation a.prev::after {
  display: none;
}
.tm-hometabcontent .customNavigation a.next::after, .customNavigation a.next::after{ display: none;}
.tm-hometabcontent .customNavigation a.prev, .customNavigation a.prev {
  left: 0 !important;
  right: auto !important;
}
.tm-hometabcontent .customNavigation a.next, .customNavigation a.next {
  left: 30px !important;
  right: auto !important;
}
.brands .customNavigation a.next {
  left: auto !important;
  right: 0 !important;
}
.tm-hometabcontent .tabs {
  left: 60px;
  right: auto;
}
#tmsubbanner li:last-child{
    float: left;
    margin-left: 0;
    margin-right: 0px;
}
.products-section-title{
    float: right;
    text-align: right;
}
.product-title a{
	float: right;
	text-align: right;
}
#products .product-description, .products .product-description, .product-accessories .product-description{ text-align: right;}
.products .product_list li .product-miniature .product-actions{ text-align: right;}
.special-products .customNavigation, .lastest_block .customNavigation{
    float: left !important;
    left: 0;
    right: auto !important;
}

#tmfootercmsblock{
    float: right;

}
#tmfootercmsblock .footer-desc{
	float: right;
	margin-left: 45px;
	margin-right: 0;
}
.footer-container .links{
    padding-left: 15px;
    padding-right: 0px;
}
.footer-container .links li a::before{
    background: rgba(0, 0, 0, 0) url("../img/megnor/footer_arrow1.png") no-repeat scroll right 0 top 4px;
    padding-right: 18px;
	padding-left: 0;
    right: 0;
	left: auto;
}
.footer-container .links li:hover a::before {
    background-position: right 0 top -27px;
}
#block-contact_list li .material-icons {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
#block-contact_list li .contactdiv{ float: right;}
#block-contact_list > li, .block-contact .image{ float: right;}
.block-contact .address {
    background-position: right 0 top -117px;
}
.block-contact .contact{ background-position: right 0 top -394px;}
.block-contact .email{ background-position: right 0 top -670px;}


.payment p{ padding-left: 2px; padding-right: 0;}

.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span{ margin-left: 15px; margin-right: auto; display: inline-block; text-align: right;}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span{  float: left !important; margin-right: 10px; margin-left:auto;}
.blog-comment-block .ps_sortPagiBar .product-count{ float: left !important}
.Recnet-blog .product-count.float-xs-right,#blog-listing .product-count, .Recnet-blog .product-count {
    float: right !important;
}
.product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price{ line-height: 26px;}

#checkout #content .col-md-4 { float: left;}

#contact #left-column{ float: right;}
#stores .page-stores .store-item-container .divide-left {
    border-right: 1px solid #ebebeb;
	border-left: none;
}

body#checkout section.checkout-step .order-options #delivery label {
  text-align: right;
}
body#checkout .additional-information {
  margin-right: 2.875rem;
  margin-left: auto;
}
body#checkout .condition-label {
    margin-right: 2.5rem;
    margin-left: auto;
}
body#checkout section.checkout-step .payment-options .custom-radio {
    margin-left: 15px;
	margin-right: auto;
}

.order-message-form .text-xs-center{ text-align: left !important;}

.page-addresses .address .address-body {
    padding: 20px 0 0 20px;
}

.block-social{
   float: right;
}
.social_block{ text-align: right;}
.col-md-12.forecopyright{ float: right;}
.row.footer-after1::before{ right:0}
.block_newsletter{
    float: right;
}
.news_title {
  float: right;
}
.block_newsletter .title{
    background-position: right 0 top 6px;
    padding: 7px 70px 15px 0;
}
.block_newsletter p.subtitle {
  float: right;
  padding: 0 70px 0 0;

}


#tm_vertical_menu_top .block-icon{
   float: right;
}
#tm_vertical_menu_top .menu-title{
   
}
#tm_vertical_menu_top .menu-title .material-icons{
    float: left;
}
#mobile_top_menu_wrapper .js-top-menu-bottom .currency-selector{
    float: right;
}
.blog-meta .fa {
    padding-left: 5px;
    padding-right: 0;
}
.fa-user::before {
    content: "\f007";
    float: right;
    padding: 0 5px;
}
#breadcrumb_wrapper{
    float: left;
    text-align: left;
}
.breadcrumb .h1{
    float: right;
}
.dropdown-menu{
    float: right;
    text-align: right;
    right: 0;
}
#contact-link a::before {
    border-right: 1px solid white;
    border-left: none;
}
#product .product-actions .control-label{
    float: right;
    margin-left: 30px;
    margin-right: auto;
}
.social-sharing li{
    float: right;
	margin-left: 4px;
	margin-right: auto;
}

#js-product-list-top .products-sort-order {
    float: left;
}
.crosssell-products.clearfix {
    clear: both;
    position: relative;
}

.product-accessories .customNavigation{
    left: 0;
    right: auto !important;
    float: left ! important;
}

.crosssell-products .customNavigation{
    left: 0;
    right: auto !important;
    float: left ! important;
}

.productscategory-products .customNavigation{
    left: 0;
    right: auto !important;
    float: left ! important;
}

.cart_block .block_content .checkout.card-block{
    float: left;
}
.sidebar-bestseller .left-part{
    float: right;
}
.sidebar-bestseller .product-description{
    text-align: right !important;
}
.sidebar-bestseller .allproducts{
    float: left;
}
#tm_footerlink li:first-child {
    border-right: none;
}
#tm_footerlink li:last-child{
    border-right: 1px solid #4c5565;
}
#tm_footerlink li{ padding: 0 12px 0 14px;}
.quickview .product-actions .control-label{
    float: right;
    margin-right: auto;
    margin-left: 30px;
}
.form-control-select {
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll left 0.5rem center / 1.25rem 1.25rem;
  padding-left: 2rem;
  padding-right: 12px;
  text-align: right;
}
.product-quantity #quantity_wanted {
  float: right;
}
.product-variants > .product-variants-item ul li {
  margin-left: 0.625rem;
  margin-right: auto;
}
#blockcart-modal .modal-title i.material-icons {
  margin-left: 7px;
  margin-right: auto;
}
#product-modal .modal-content .modal-body .product-images{
    margin-left: 0;
    margin-right: 20px;
}
#brand_list li.brand .brand-inner .brand-img{
    float: right;
}
#brand_list li.brand .brand-inner .brand-infos{
    float: right;
    padding-right: 0;
    padding-left: auto;
}
#brand_list li.brand .brand-inner .brand-products{
    border-right: 1px solid #ddd;
    border-left: none;
    padding: 0 30px 15px 0;
}
.product-line-grid-right .bootstrap-touchspin{
    float: right !important;
}
#contact .form-footer.text-xs-right{
    float: left;
}

li.product-flag.new{ right: 10px; left: auto;}
li.product-flag.on-sale{ left: 8px; right: auto;}
.product-cover .layer .zoom-in{ left: 0; right: auto;}
li.product-flag.online-only{ right: 5px; left: auto;}

.tmblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta{
    text-align: right;
}
.blog-item .blog-content-wrap .title a{
    text-align: right;
    float: right;
}
.blog-meta > span{
    margin-right: 0;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 10px;
}
.col-lg-9.offset-md-3 {
    margin: 0;
    float: left;
}
.blog-detail .extra-blogs ul {
    padding-right: 25px;
    padding-left: 0;
}
.blog-content-wrap .title{
    float: right;
    position: relative;
    text-align: right;
    width: 100%;
}
.blog-item .blog-content-wrap .blog-shortinfo{
    float: right;
    text-align: right;
    position: relative;
}
Recnet-blog .product-count.float-xs-right {
    float: right !important;
}
.bottom-line .pagination{ float: left !important}

#blog-listing .pagination li, .Recnet-blog .pagination li{
    float: right;
}

.comment-capcha-image{
    float: right;
}
#tm_vertical_menu_top .top-menu > li:hover > a, #tm_vertical_menu_top li:hover .more-view{
    padding-right: 30px;
    padding-left: 0;
}


.blog-image .blogicons .icon.zoom::before {
    right: 0;
    left: auto;
}
.blog-image .blogicons .icon.readmore_link::before {
    left: 0;
    right: auto;
}

.blog-comment-block img {
    float: right;
    padding-left: 15px;
}

body#checkout section.checkout-step .radio-block{
    text-align: right;
}
body#checkout section.checkout-step .address{
    margin-right: 1.5625rem;
    margin-left: 0;
}
body#checkout section.checkout-step .address-footer{
    text-align: right;
}
#mobile_top_menu_wrapper .sub-menu .top-menu .category {
    margin: 0 10px 0 0px !important;
}
body#checkout section.checkout-step .delivery-option .col-sm-1 {
    float: right;
}
body#checkout section.checkout-step .delivery-option label {
    float: right;
}
body#checkout section.checkout-step .delivery-option .col-sm-5.col-xs-12 {
    float: right;
}
body#checkout section.checkout-step .delivery-option .col-sm-4.col-xs-12 {
    float: right;
}

.block-social li{ margin-left: 3px; margin-right: auto;}
.block-social li:last-child {
  margin-left: 0;
}
.products-selection .total-products {
    padding-right: 4px;
    padding-left: 0;
}

.products-selection .display li#grid a, .products-selection .display li#grid{ float: right; margin-left: 3px;}
#products .products-selection .col-md-6{ padding-left: 20px;}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{ float: left; margin-left: 0.125rem; margin-right:auto;}
#identity .radio-inline, #authentication .radio-inline{ padding: 0 0 0 10px !important;}
.page-addresses .address .address-footer a { margin-left: 10px; margin-right: auto;}
li.product-flag.discount { left: 10px; right: auto}
.custom-checkbox label { text-align: right;}
.product-line-grid-right .product-price strong{ font-size: 16px; line-height: 24px;}
#tmcmsbannerblock, .cmsbanner{ float: right;}
#tmcmsbannerblock .left_side{ float: right;}
#tmcms1block .cms1banner{ float: right;}
#tmcmsbannerblock .right_side{ float: left;}
.nav-inline .nav-item + .nav-item, .nav-inline .nav-link + .nav-link {
  margin-left: auto;
  margin-right: 1rem;
}
.pagination .page-list li{ margin: 0 5px 0 0}
.loadmore .tm-message .material-icons {
  margin-left: 5px;
  margin-right: auto;
}
#tmservicecmsblock .footer_top_inner .footerblock{ text-align: right;}

#tmservicecmsblock .footer_top_inner .footerblock .image {
    float: right;
    margin: 0 0 0 10px;

}
#tmservicecmsblock .footer_top_inner .footerblock .image1 {
    background-position: right 12px top 18px;
}
#tmservicecmsblock .footer_top_inner .footerblock .image2 {
    background-position: right 11px top -154px;
}
#tmservicecmsblock .footer_top_inner .footerblock .image3 {
    background-position: right 12px top -353px;
}
#tmservicecmsblock .footer_top_inner .footerblock .image4 {
    background-position: right 11px top -540px;
}
#tmservicecmsblock .footer_top_inner .footerblock .title {
    margin: 6px 10px 0 0;
}
#tmservicecmsblock .footer_top_inner .footerblock .subtitle{ margin: 0 10px 0 0;}

#tmservicecmsblock .footer_top_inner .footerblock::after{ left: 53px; right: auto;}
.copyright{ float: right;}
.footer-container .footer-after1{ float: right;}
.breadcrumb ol {
    float: left;
    text-align: left;
}
#product .breadcrumb ol {
    float: right;
    text-align: right;
}
#left-column .product-title a{ text-align: right;}
#products .products .list li.product_item .center-block .product-title a {
    float: right;
    text-align: right;
}

#product #main .images-container .js-qv-mask.additional_slider .customNavigation a.next {
  left: auto !important;
  right: -5px !important;
}
#authentication [data-action="show-password"], .input-group .input-group-btn > .btn, #contact .input-group .input-group-btn > .btn {
    border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}
.text-xs-right {
    text-align: left !important;
}
.products .product-price-and-shipping{ float: right;}
#blog-listing .pagination li.active > span {
    padding: 9px 15px 4px 19px;
}


#tmcms1block .bannercms-content {
  left: auto;
  right: 35.5%;
  text-align: right;
}
#header .header-top .menu > ul > li::after {
  border-left: 1px solid #f0f0f0;
  border-right: none;
  right: -8px;
  left: auto;
}
#authentication .custom-checkbox label {
  padding-left: 0;
  padding-right: 0.625rem;
}
#tm_toplink .cat-title .material-icons, #tm_toplink.fixed .cat-title .material-icons {
  background-position: right 0 top -50px;
}

#tm_toplink .cat-title .material-icons:hover {
  background-position: right 0 top -100px;
}



@media (max-width: 1199px) {
	.flexslider {
	  margin: 0 0 18px 17px;
	}
	#checkout #content .col-md-4 {
	  float: right;
	}
	.products-sort-order .dropdown-menu {
	  left: auto;
	  right: 15px;
	  width: 91.1%;
	}
	#checkout #content .col-md-8 {
    width: 71%;
    }
	#order-items .qty{ font-size: 13px;}
	#search_filters .facet .facet-label{ text-align: right;}

	#tmfootercmsblock .footer_logo {
  	  padding: 15px 35px 0 30px;
	}
    .box-cms-content {
	    padding: 0 20px 0 0px !important;
	}
   
    .icon-left3 {
    margin: 0 5px 0 0;
	}
 
    .service-right {
    border-left: 1px solid #ededed;
    border-right: medium none;
   }
   .service-right {
    padding-left: 10px;
    padding-right: 0;
    }
    .fourth-content {
    margin: 0;
    width: auto;
	}
	.icon-left1 {
    	margin: 0 10px;
	}
	
	.second-content {
    float: left;
	}
	#tmsubbanner li{   margin-left: 19px; margin-right: auto;}
	  .box-cms-content { float: right;}
	  #tmservicecmsblock .footer_top_inner .footerblock::after {
	  left: 20px;
	  right: auto;
	}
	#more_menu #top_moremenu {
	  left: 0;
	  right: auto;
	}
}
@media (max-width: 991px) {
	.flexslider {
	  margin: 0 0 18px 12px;
	}
	.mobile-menu {
	  float: right;
	  margin: 0 0 0 20px;
	}
	#header .header-nav .material-icons.expand-more {
	  margin-left: auto;
	  margin-right: -3px;
	}
	#module-psblog-blog .col-lg-9.offset-md-3{ float: right;}
	#block-contact_list li .contactdiv,#block-contact_list > li {
	  float: none;
	}
	#_mobile_currency_selector{ float: right;}
	#checkout #content .col-md-4 { float: right;}
	#checkout #content .col-md-8 { width: 100%;}
	#_mobile_language_selector{ float: right;}
	.product-quantity .add{ margin-right: 0;  margin-top: 20px;}
	#js-product-list-top .products-sort-order{ float: right;}
	.products-selection .sort-by{  left: auto; right: 0; padding-right: 15px;}
	.products-sort-order .dropdown-menu{ width: 95%;}
	#products .products-selection .col-md-6 {
	  padding-left: 15px;
	}
	#header .header-nav .blockcart{margin-left: auto; margin-right: 10px;}
	.col-sm-3.col-xs-4.hidden-lg-up.filter-button{ float: left;}
	.block_newsletter{ padding-left:0; padding-right: 0;}

    .blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
        margin-left: 0;
    }
	#product #breadcrumb_wrapper{ right: 0;}
	.footer-container .links{
        padding-right: 0px;
		padding-left: 0;
    }
	#tmfootercmsblock .footer-desc {
	    width: 64%;
		margin-right: 0;
		border-left: none;
		margin-left: 0;
		border-right: 1px solid #e0e0e0;
	}
	#tmfootercmsblock {
	    width: 100%;
	    padding-bottom: 110px;
	    margin-bottom: 30px;
	}
	.tabs{
		float: left;
	}
    .cart-products-count{
        float: none;
    }
    .header-top .search-widget{
        float: left;
        left: 0px;
        right: auto;
    }
    #links_block_top{
        margin: 23px 0px 0 10px;
    }
    #header .header-nav .menu-icon .nav-menu{
        float: right;
        padding-right: auto;
        padding-left: 5px;
		padding-right: 0;
    }
    #links_block_top .material-icons{
        padding-right: 20px;
        padding-left: 0px;
    }


    .icon-left3 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .icon-left2 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .icon-left1 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .service-right{
        text-align: center;
    }
    .service-right .title{
        float: none;
        text-align: center;
    }
    .service-right .sub-title{
        float: none;
        text-align: center;
    }

    .block-social ul{
        border-right: none;
    }
    .footer-container .links{
        border-right: none;
    }
    .product-description.center-block.col-xs-4.col-xs-7.col-md-8{
        text-align: right !important;
    }
    #breadcrumb_wrapper{
        width: 100%;
    }
    #block-contact_list{
        background-position: right 0; 
    }
	 .block-social { left: 0;}
	 #_mobile_logo{ float: right;}
	 #header .header-nav .menu-icon{   margin-left: 15px; margin-right: auto}
	#_mobile_user_info {
	  margin-left: 18px;
	  margin-right: auto;
	}
	.header-nav #tm_toplink, .header-nav #tm_toplink.fixed {
	  left: 0;
	  margin-left: 30px;
	  margin-right: auto;
	  right: auto;
	}
	 #header #_mobile_language_selector .language-selector img {
	  margin-left: 5px;
	  margin-right: auto;
	}
	#tm_footerlink li:first-child {
	  padding-right: 12px;
	}
	#tm_toplink .block_content{ left: 0; right: auto;}
	#tm_toplink ul li a{ float: right;}
	#tm_toplink ul li:last-child::after {
	  display: none;
	}
	.blog-detail .blog-comment-block #blog-localengine .col-form-label {
	  float: right;
	}
	#module-psblog-blog .blog-comment-block .offset-md-3 {
	  margin-left: auto;
	  margin-right: 11.5%;
	}
	#mobile_top_menu_wrapper.slide .mobile-menu-inner{ right: 0; left: auto;}
	#mobile_top_menu_wrapper .mobile-menu-inner{ 
		right: -100%;
		left: auto;
		text-align: right;
	}
	#home-page-tabs{ margin: 0;}
	#tmservicecmsblock .footer_top_inner .footerblock::after {
	  left: 20px;
	  right: auto;
	}
	#tmservicecmsblock .footer_top_inner .footerblock2.footerblock, #tmservicecmsblock .footer_top_inner .footerblock4.footerblock {
	  float: left;
	  padding-right: 100px;
	  padding-left: 0;
	}
	#tm_toplink ul li:last-child a{ padding: 5px;}
	.social_block {
	  text-align: center;
	}
	.brands .customNavigation a.prev {
	  left: 5px !important;
	  right: auto;
	}
}



@media (max-width: 767px) {
    .tabs {
        float: none;
    }
	#header .header-nav .top-logo{ float: right}
	.products-sort-order .dropdown-menu {
	  width: 92.6%;
	}
	#category .pagination .col-md-8{ float: left; left: 0; right: auto;}
    .block-social{
        text-align: center;
    }

    .block_newsletter form .col-xs-12{
        float: right;
      
    }
    .block_newsletter .title{
        float: right;
    }
    .footer-container .title.hidden-md-up{
        padding: 0;
    }
    #blockcart-modal .cart-content{
        padding-right: 0;
    }
	.tm-hometabcontent .customNavigation a.next, .customNavigation a.next {
		left: auto !important;
		right: 3px !important;
	}
	.tm-hometabcontent .customNavigation a.prev, .customNavigation a.prev {
	  left: auto !important;
	  right: 0 !important;
	}
	.brands .customNavigation a.prev {
	  left: 5px !important;
	  right: auto;
	}
	.btn.next.blog_next {
	  right: 0;
	}

	.product-features > dl.data-sheet dt.name, .product-features > dl.data-sheet dd.value{ margin-right: 0;}
	#blockcart-modal .divide-right, #order-items{ border-left: none}
	.tm-hometabcontent .tabs {
	  left: 0;
	  right: auto;
	}

	.tm-hometabcontent .customNavigation {
	  right: 8px;
	}
	.tm-hometabcontent .customNavigation a.prev::after, .customNavigation a.prev::after{ right: 1px;}
	.products-selection .filter-button {
	  padding-left: 15px;
	}
	#header .header-nav .user-info .account {
	  margin-left: auto;
	  margin-right: 0;
	}
	#stores .page-stores .store-item-container .divide-left {
	  border-right: medium none;
	}
	#brand_list li.brand .brand-inner .brand-products {
	  border-left: medium none;
	  border-right: medium none;
	  padding: 0;
	}
	.blog-detail .blog-comment-block #blog-localengine .comment-item{ padding: 25px;}
	#module-psblog-blog .blog-comment-block .offset-md-3 {
	  margin-left: auto;
	  margin-right: 0;
	}
	.btn.next.special_next{ right: 0; left: auto;}
	.lastest_block.block.tmblog-latest .customNavigation{ margin: 0;}
	#tmservicecmsblock .footer_top_inner .footerblock2.footerblock, #tmservicecmsblock .footer_top_inner .footerblock4.footerblock {
	  padding-left: 0;
	  padding-right: 30px;
	}
	.btn.next.crosssell_next, .btn.next.accessories_next {
	  right: 3px !important;
	 
	}
	#password .btn {
	  margin: 20px 15px 20px 0;
	}
	#product #main .images-container .js-qv-mask.additional_slider .customNavigation a.next {
	  left: auto;
	  right: 0;
	}

	#tmsubbanner li{ margin-left: 0;}
	#tmsubbanner li:last-child{ float: right;}
	.tm-hometabcontent .customNavigation {
	  left: 0 !important;
	  right: -3px !important;
	}
	.header-nav #tm_toplink, .header-nav #tm_toplink.fixed {
	  margin-left: 25px;
	  margin-right: auto;
	}
		#_mobile_user_info {
	  margin-left: 15px;
	  margin-right: auto;
	}
	#product #main .images-container .js-qv-mask.additional_slider .customNavigation a.prev {
	  left: 0 !important;
	}
		#products .product-description, .products .product-description, .product-accessories .product-description {
	  text-align: center;
	}
	.product-title a{ text-align: center;}
	.products .product_list li .product-miniature .product-actions {
	  float: right;
	  text-align: center;
	}
}
@media (max-width: 543px) {
	#tmservicecmsblock .footer_top_inner .footerblock4.footerblock, #tmservicecmsblock .footer_top_inner .footerblock2.footerblock{ padding-right: 0;}
}

@media (max-width: 480px) {
        .product-description.center-block.col-xs-4.col-xs-7.col-md-8{
            text-align: center !important;
        }
        .products-selection .filter-button{
            padding-left: 10px;
            padding-right: 0;
        }
        #category #search_filter_toggler{
            width: 90px;
        }
		#header .header-nav .menu-icon {
		  margin-left: 0;
		}
		.pagination.row{ text-align: left;}
		#category .pagination .col-md-8{ padding-left: 30px;}
		#products .products-selection .col-md-6 { padding-left: 15px;}
		.col-md-9.products-sort-order { width: 64%;}
		.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap{ margin-right: 0 !important}
		.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span{ float: right !important; margin-right: 0 !important}
		.Recnet-blog .product-count.float-xs-right, #blog-listing .product-count, .Recnet-blog .product-count{ float: left !important;}
		body#checkout section.checkout-step.-reachable.-complete h1 .step-edit { float: none;}
		body#checkout section.checkout-step .carrier-delay, body#checkout section.checkout-step .carrier-name{ text-align: right;}
		#history .orders .order .label, .page-order-detail #order-history .history-lines .history-line .label { text-align: right;}
		#order-detail #main .page-content{ padding: 15px;}
		.order-totals .order-total .col-xs-4, .page-order-detail .order-items .order-item .qty .col-xs-4.text-xs-right{ padding: 0;}
		#header .header-nav .blockcart {
		  margin-right: auto;
		}
		.blockcart{padding: 5px 0 3px;}
		#_mobile_user_info {
		  margin-left: 10px;
		  margin-right: auto;
		}
		.header-nav #tm_toplink, .header-nav #tm_toplink.fixed {
		  margin-left: 12px;
		  margin-right: auto;
		}
		.payment p {
		  padding-left: 5px;
		  padding-right: 0;
		}
		.product-accessories .customNavigation, .crosssell-products .customNavigation{    left: 0; right: auto;}
		#tm_footerlink li {
		  padding: 0 8px 0 10px;
		}
		#tm_footerlink li:first-child {
		  padding-right: 8px;
		}
		#password .btn {
		  margin: 20px 15px 20px 0;
		}
	.products-sort-order .dropdown-menu {
	  left: auto;
	  right: 10px;
	  width: 90.1%;
	}
	 .Recnet-blog .product-count.float-xs-right, #blog-listing .product-count, .Recnet-blog .product-count {
	  float: left;
	  text-align: left;
	  width: 100%;
	}
	#new-products .products-sort-order .dropdown-menu {
	  width: 93.8%;
	}
	.lastest_block.block.tmblog-latest .customNavigation {
	 left: -5px;
	}
	.special-products .customNavigation {
	  left: 5px;
	}
	#products .products-selection .col-md-6 {
	  padding-left: 10px;
	}
	.products-sort-order {
	  padding-left: 10px;
	  padding-right: 10px;
	}
	.page-footer .account-link{ letter-spacing: 0;}
	#products .page-not-found .search-widget input, #pagenotfound .page-not-found .search-widget input{ padding: 9px 15px 9px 50px}
	.special-products .customNavigation {
	  left: -5px;
	  right: auto;
	  }
	  #tmcms1block .bannercms-content {
	  left: auto;
	  right: 30.5%;
	}
	#products .product-description, .products .product-description, .product-accessories .product-description {
	  min-height: 130px;
	}
	.done {
	  margin-left: 0;
	  margin-right: 0;
	}

}

.float-xs-right {
    float: left !important;
}

