<div id="_desktop_compare">
	<div class="compare_top">
		<a href="{$content_dir}module/poscompare/comparePage">
			<svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.75 4H1.25C0.918596 4.00034 0.600875 4.11751 0.366537 4.32581C0.132199 4.53411 0.000380458 4.81653 0 5.11111V22.8889C0.000380458 23.1835 0.132199 23.4659 0.366537 23.6742C0.600875 23.8825 0.918596 23.9997 1.25 24H6.75C7.0814 23.9997 7.39912 23.8825 7.63346 23.6742C7.8678 23.4659 7.99962 23.1835 8 22.8889V5.11111C7.99962 4.81653 7.8678 4.53411 7.63346 4.32581C7.39912 4.11751 7.0814 4.00034 6.75 4V4ZM6 22.2222H2V5.77778H6V22.2222Z" fill="#222222" />
				<path d="M16.75 10H11.25C10.9186 10.0003 10.6009 10.1157 10.3665 10.3207C10.1322 10.5258 10.0004 10.8038 10 11.0938V22.9062C10.0004 23.1962 10.1322 23.4742 10.3665 23.6793C10.6009 23.8843 10.9186 23.9997 11.25 24H16.75C17.0814 23.9997 17.3991 23.8843 17.6335 23.6793C17.8678 23.4742 17.9996 23.1962 18 22.9062V11.0938C17.9996 10.8038 17.8678 10.5258 17.6335 10.3207C17.3991 10.1157 17.0814 10.0003 16.75 10V10ZM16 22.25H12V11.75H16V22.25Z" fill="#222222" />
				<path d="M26.75 0H21.25C20.9186 0.000304367 20.6009 0.105759 20.3665 0.293229C20.1322 0.4807 20.0004 0.734877 20 1V23C20.0004 23.2651 20.1322 23.5193 20.3665 23.7068C20.6009 23.8942 20.9186 23.9997 21.25 24H26.75C27.0814 23.9997 27.3991 23.8942 27.6335 23.7068C27.8678 23.5193 27.9996 23.2651 28 23V1C27.9996 0.734877 27.8678 0.4807 27.6335 0.293229C27.3991 0.105759 27.0814 0.000304367 26.75 0V0ZM26 22.4H22V1.6H26V22.4Z" fill="#222222" />
			</svg>

			{* <span> *}
				{* {l s='Compare' mod='poscompare'} *}
				<span id="poscompare-nb"></span>
			{* </span> *}
		</a>
	</div>
</div>
<script type="text/javascript">
	var baseDir ='{$content_dir}';
</script>