<div class="allcategories">
	<button class="allcategories_btn">
		<svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.8571 0H13.3333C12.7021 0 12.1904 0.552851 12.1904 1.23478V2.88115C12.1904 3.56307 12.7021 4.11592 13.3333 4.11592H14.8571C15.4883 4.11592 16 3.56307 16 2.88115V1.23478C16 0.552851 15.4883 0 14.8571 0Z" fill="white" />
			<path d="M8.76188 0H7.23807C6.60691 0 6.09521 0.552851 6.09521 1.23478V2.88115C6.09521 3.56307 6.60691 4.11592 7.23807 4.11592H8.76188C9.39304 4.11592 9.90474 3.56307 9.90474 2.88115V1.23478C9.90474 0.552851 9.39304 0 8.76188 0Z" fill="white" />
			<path d="M2.66667 0H1.14286C0.511695 0 0 0.552851 0 1.23478V2.88115C0 3.56307 0.511695 4.11592 1.14286 4.11592H2.66667C3.29783 4.11592 3.80952 3.56307 3.80952 2.88115V1.23478C3.80952 0.552851 3.29783 0 2.66667 0Z" fill="white" />
			<path d="M14.8571 13.171H13.3333C12.7021 13.171 12.1904 13.7238 12.1904 14.4057V16.0521C12.1904 16.734 12.7021 17.2869 13.3333 17.2869H14.8571C15.4883 17.2869 16 16.734 16 16.0521V14.4057C16 13.7238 15.4883 13.171 14.8571 13.171Z" fill="white" />
			<path d="M8.76188 13.171H7.23807C6.60691 13.171 6.09521 13.7238 6.09521 14.4057V16.0521C6.09521 16.734 6.60691 17.2869 7.23807 17.2869H8.76188C9.39304 17.2869 9.90474 16.734 9.90474 16.0521V14.4057C9.90474 13.7238 9.39304 13.171 8.76188 13.171Z" fill="white" />
			<path d="M2.66667 13.171H1.14286C0.511695 13.171 0 13.7238 0 14.4057V16.0521C0 16.734 0.511695 17.2869 1.14286 17.2869H2.66667C3.29783 17.2869 3.80952 16.734 3.80952 16.0521V14.4057C3.80952 13.7238 3.29783 13.171 2.66667 13.171Z" fill="white" />
			<path d="M14.8571 6.58545H13.3333C12.7021 6.58545 12.1904 7.1383 12.1904 7.82023V9.4666C12.1904 10.1485 12.7021 10.7014 13.3333 10.7014H14.8571C15.4883 10.7014 16 10.1485 16 9.4666V7.82023C16 7.1383 15.4883 6.58545 14.8571 6.58545Z" fill="white" />
			<path d="M8.76188 6.58545H7.23807C6.60691 6.58545 6.09521 7.1383 6.09521 7.82023V9.4666C6.09521 10.1485 6.60691 10.7014 7.23807 10.7014H8.76188C9.39304 10.7014 9.90474 10.1485 9.90474 9.4666V7.82023C9.90474 7.1383 9.39304 6.58545 8.76188 6.58545Z" fill="white" />
			<path d="M2.66667 6.58545H1.14286C0.511695 6.58545 0 7.1383 0 7.82023V9.4666C0 10.1485 0.511695 10.7014 1.14286 10.7014H2.66667C3.29783 10.7014 3.80952 10.1485 3.80952 9.4666V7.82023C3.80952 7.1383 3.29783 6.58545 2.66667 6.58545Z" fill="white" />
		</svg>
		<span>Каталог товаров</span>
	</button>
	<div class="allcategories-container">
		{if isset($categories) AND $categories}
			<ul class="cat-list">
				{foreach from=$categories item=category name=homeCategories}
					<li class="main-item">
						<a href="{$link->getCategoryLink($category.id_category, $category.link_rewrite)}">{$category.name|truncate:60}</a>
						{if isset($category.children)}
							<ul class="subcategories">
								{foreach from=$category.children item=child}
									<li class="sub-item">
										<a href="{$link->getCategoryLink($child.id_category, $child.link_rewrite)}">{$child.name|truncate:60}</a>
									</li>
								{/foreach}
							</ul>
						{/if}
					</li>
				{/foreach}
			</ul>
		{/if}
	</div>
</div>