/* .pwhomecategories{
    margin: 20px 0;
    clear: both;
    overflow: hidden;
}
.pwhomecategories .title{
    font-size: 24px;
    margin-bottom: 10px;
}
.pwhomecategories li{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    border:1px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:3px;
}

.pwhomecategories a{
    font-size:16px;
    margin-top: 10px;
    text-decoration: underline;
    display: block;
}
.pwhomecategories a:hover, .pwhomecategories li:hover a{
    text-decoration: none;
}
.pwhomecategories li:hover{
    border-color: #ffe1c1;
} */