<script>
var pwseo = {
{foreach from=$adding_fields item=val key=field}
    {$field}: "{$val}",
{/foreach}
};
var page_name = "{$page_name}";
</script>

{if isset($rel_canonical)}<link rel="canonical" href="{$rel_canonical}" />{/if}