{if $tr['status'] == 1}
	<a class="btn btn-default" href="{$link->getAdminLink('AdminPriceParserCron')|escape:'html':'UTF-8'}&amp;submitAction=taskKill&amp;id_item={$tr.id_cron_schedule}&amp;state=0">
		<i class="icon-remove"></i>
	</a>
{/if}