<a class="btn btn-default _blank" href="{$link->getAdminLink('AdminPriceParserCronLog')|escape:'html':'UTF-8'}&amp;submitFilterprice_parser_cron_run_log=1&amp;price_parser_cron_run_logFilter_a!id_cron_schedule={$tr.id_cron_schedule}">
	<i class="icon-list-alt"></i>
</a>