/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  display: block;
    border-radius: 5px;
   -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  float: left;
  margin: 0 20px 18px 0;
  overflow: hidden;
  position: relative;
  width: 66%;
}
.flexslider .caption-description{
	position: absolute;
    bottom: 100px;
    left: 100px;
    color: #FFFFFF;
	max-width: 600px;
    font-size: 18px;
    line-height: 28px;
}
.flexslider .caption-description h2{ font-size: 30px; margin-bottom:25px; letter-spacing: 9px;}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  background: #edbb6f none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 40px;
  line-height: 1;
  margin: -35px 0 0;
  opacity: 1;
 	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  top: 53%;
  width: 40px;
  z-index: 2;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.flex-direction-nav a:before {
	  font-family: "Material Icons";
	font-size: 30px;
	display: inline-block;
	content: '\E5CB';
	color: #fff;
	font-weight: normal;
	padding: 6px 5px;
}
.flex-direction-nav a.flex-next:before {
  content: '\E5CC';
  padding: 6px;
}

.flex-direction-nav .flex-next {
	right: 10px;
	text-align: right;
	opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}


.flex-direction-nav .flex-prev {
	left: 10px;
	opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.flexslider .flex-direction-nav a:hover:before {
	background: #a4bddb;
}
.flex-direction-nav .flex-disabled {
	opacity: 0 !important;
	-khtml-opacity: 0 !important;
	-webkit-opacity: 0 !important;
	-moz-opacity: 0 !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
	filter: alpha(opacity=0) !important;
	cursor: default;
	z-index: -1;
}
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	-khtml-opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
  font-family: "Material Icons";
  font-size: 20px;
  display: inline-block;
  content: '\E039';
}
.flex-pauseplay a:hover {
  opacity: 1;
  	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.flex-pauseplay a.flex-play:before {
  content: '\E036';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	margin: 0;
	display: block;
	bottom: 5px;
	text-align: center;
	z-index: 9;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 12px;
	border: 1px solid #edbb6f;
	height: 12px;
	display: block;
	background: transparent;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #edbb6f;
	border-color: #edbb6f;
}
.flex-control-paging li a.flex-active {
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
		-khtml-opacity: 0.7;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
 	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media (max-width: 1199px) { 
 .flex-direction-nav a::before{ padding: 6px 5px;}
 .flex-direction-nav a.flex-next::before{ padding: 7px 6px;}
 	.flex-direction-nav a{ top: 55%;}
	.flexslider .slides img{ max-width: 100%;}
	.flexslider{ margin: 0 17px 18px 0;}
 }
@media (max-width: 991px) {  
	 .flexslider {
	  margin: 0 12px 18px 0;
	}
}
 @media (max-width: 767px) {
 .flex-direction-nav a{top: 57%;}
	 .flexslider {
	  margin: 0 0 20px;
	  width: 100%;
	}
 }
@media screen and (max-width: 767px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		left: 10px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		right: 10px;
	}
}
@media (min-width: 480px) {
	.flexslider:hover .flex-control-nav {
		display: block;
	}
}
