/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* 
Blog module
*/
.kr_blog_post_area .blog_post {
  margin-bottom: 30px;
  padding-bottom:30px;
  border-bottom:1px solid #ebebeb;
}
.kr_blog_post_area .blog_post .post_thumbnail {
  position: relative;
  margin-bottom:30px;  
}
.kr_blog_post_area .blog_post .post_thumbnail .blog_mask {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
.kr_blog_post_area .blog_post .post_thumbnail .blog_mask .blog_mask_content {
  position: absolute;
  left: 110%;
  top: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.kr_blog_post_area .blog_post .post_thumbnail .blog_mask .blog_mask_content a {
  display: block;
  text-align: center;
  font-size: 70px;
  color: #fff;
}
.kr_blog_post_area .blog_post .post_thumbnail:hover .blog_mask {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.kr_blog_post_area .blog_post .post_thumbnail:hover .blog_mask .blog_mask_content {
  left: 50%;
}
.kr_blog_post_area .blog_post .post_thumbnail:hover .post_meta {
  opacity: 0;
  visibility: hidden;
}
.kr_blog_post_area .blog_post .post_content .post_title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.post_content ul {
  list-style-type: initial;
  margin-left: 40px;
}
.post_content ol {
  list-style-type: decimal;
  margin-left: 40px;
}
.post_content {
  font-family: Tenor Sans !important;
}

.post_content h1 {
  font-family: Nunito;
  font-size: 20px;
}
.post_content h2 {
  font-family: Nunito;
  font-size: 18px;
}
.post_content h3 {
  font-family: Nunito;
}

.kr_blog_post_area .blog_post .post_content .post_title a {
  color: inherit;
}
.kr_blog_post_area .blog_post .post_content .post_title a:hover {
  color: #666;
}
.kr_blog_post_area .blog_post .post_content .post_meta {
  margin-bottom: 10px;
}
.kr_blog_post_area .blog_post .post_content .post_meta > p {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
  float: left;
  color: #555555;
  border-right: 1px solid #555555;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.kr_blog_post_area .blog_post .post_content .post_meta > p span {
  color: #000000;
}
.kr_blog_post_area .blog_post .post_content .post_meta > p:last-child {
  border: 0;
  padding: 0;
  margin: 0;
}
.kr_blog_post_area .blog_post .post_content .post_description {
  font-size: 16px;
  color: #000;
}
.kr_blog_post_area .blog_post .post_content .post_description {
	text-align: justify;
}
.kr_blog_post_area .blog_post .post_content .post_description p {
  margin-bottom: 10px;
}
.kr_blog_post_area .blog_post .post_content .read_more a {
  color: #555555; 
  font-size:16px;
  font-weight: bold;
  text-transform: capitalize; 
}
.kr_blog_post_area .blog_post .post_content .read_more a i {
  display: inline-block;
  vertical-align: -2px;
}
.kr_blog_post_area .blog_post .post_content .read_more a:hover {
  color: #000;
}
.kr_blog_post_area .blog_post .blog_post_bottom {
  margin-top: 60px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post {
  margin-bottom: 25px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul {
  display: block;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul li {
  float: left;
  margin-right: 15px;
  max-width: 250px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul li img {
  display: block;
  margin-bottom: 10px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul li h5 {
  text-transform: uppercase;
  font-size:14px;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul li h5 a {
  color: #000000;
}
.kr_blog_post_area .blog_post .blog_post_bottom .related_post ul li h5 a:hover {
  color: #666;
}
.kr_blog_post_area.blog_style_column .blog_post .post_title {
  font-size:18px;
  line-height: 1.3;
}
.kr_blog_post_area.blog_style_column .blog_post .post_content .post_meta {
  margin-bottom: 20px;
}
.kr_blog_post_area.blog_style_column .blog_post .post_content .post_meta > p {
  line-height: 1.4;
}
.kr_blog_post_area .comment_respond {
  margin-bottom: 60px;
}
.block.blog_block .block_content.products-block ul li .products-block-image {
  width: 79px;
  overflow: hidden;
  display: block;
  height: 63px;
}
.block.blog_block .block_content.products-block ul li .products-block-image img {
  max-width: none;
}
.block.blog_block .block_content.products-block ul li h5 a {
  font-size:15px;
}

.blog_block.blog_search .block_content .form-control {
  height: 46px;
  padding: 3px 15px;
  margin-bottom: 10px;
}
/* Additioanl style blog css */
.kr_blog_post_area .blog_post.col-sm-6:nth-of-type(2n+1){
	clear: left;
}
.kr_blog_post_area .blog_post.col-sm-3:nth-of-type(4n+1){
	clear: left;
}
.kr_blog_post_area .blog_post.col-sm-4:nth-of-type(3n+1){
	clear: left;
}
/* post formart carousel */
.blog_post .slick-prev, .blog_post .slick-next{
	position: absolute;
	top: 50%;
	width: 42px;
	height: 42px;
	line-height: 42px;
	margin-top: -21px;
	color: #555555;
	background: #ECECEC;
	font-size: 25px;
	display: block;
	text-align: center;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.blog_post .slick-prev:hover, .blog_post .slick-next:hover{
  color: #fff;
  background-color: #000;
}
.blog_post .slick-prev.slick-disabled, .blog_post .slick-next.slick-disabled{
  cursor: default;
  color: #555555;
  background: #ECECEC;
}
.blog_post .slick-prev{
  left: 0px;
}
.blog_post .slick-next{
  right: 0px;
}
.blog_post:hover .slick-prev, .blog_post:hover .slick-next{
  opacity: 1;
}
.blog_post:hover .slick-prev {
  left: 30px;
}
.blog_post:hover .slick-next{
  right: 30px;
}
.home_blog_post .post_thumbnail .post_format_items .embed-responsive-16by9{
	padding-bottom: 52.00%;
}
.blog_post_content p.meta_author,.blog_post_content p.meta_date {
    display: inline-block;
    padding-right: 10px;
}
.blog_post_content p.meta_category {
    display: inline-block;
}
.blog_post_content a.more {
    float: right;
}
.home_blog_post h3.page-heading {
    margin-bottom: 5px;
}
.row.home_blog_post_inner.carousel.slick-initialized.slick-slider {
    margin-top: 30px;
}
.arrow_carrot-right:before {
    content: ">";
}
.arrow_carrot-left:before {
    content: "<";
}
.home_blog_post .post_thumbnail .post_format_items{
    padding-bottom: 52.00%;
}
.embed-responsive-16by9{
    padding-bottom: 52.00%;
}
.xipblog_img,.img-responsive{
	display: block;
	max-width: 100%;
	height: auto; 
}
.xipblog_img.avatar  {
	margin:20px 0;
}
.comment_content_bottom {
	margin:30px 0;
	font-style:italic;
	font-size:13px;
}
.home_blog_post .post_thumbnail .post_format_items {
    padding-bottom: 0px;
}