.card-block.checkout{
    display: none;
}
.step-number{
    display:none !important;
}
.checkout-step.-complete{
    display: none;
}
.pwexpress_footer {
    text-align: right;
    max-width: 74%;
}
@media(max-width: 768px) {
    .pwexpress_footer {
        max-width: 100%;
    }
}
.pwexpress_button {
    background: #8a0057!important;
}
.pwexpress_button:hover {
    background:  #c2007b!important;
}