#order_step {
    display: none;
}

.pwexpressorder sup {
    color: red;
    float: none;
    margin-left: 5px;
}

.pwexpressorder {
    margin-bottom: 20px;
}

#pwexpressorder label {
    display: block;
    float: none;
    font-size: 16px;
    /*padding-top: 5px;*/
    padding-top: 14px;
    text-align: left;
    width: auto;
    /*margin-left: 15px;*/
}

#pwexpressorder input::-webkit-input-placeholder {color:#333;}
#pwexpressorder input::-moz-placeholder          {color:#333;}
#pwexpressorder input:-moz-placeholder           {color:#333;}
#pwexpressorder input:-ms-input-placeholder      {color:#333;}

#carrier-select .radio-select {
    width: 50px;
    padding-top: 14px !important;
}

#carrier-select tr:hover td {
    background: #EEE;
    cursor: pointer;
}

#carrier-select label {
    margin-bottom: 0;
    padding-bottom: 0;
}

#carrier-select .name {
    width: 20%
}

#carrier-select .delay {
    width: 50%;
}

#pwexpressorder h3 {
    margin-top: 0;
}

.table thead > tr > th, .table thead > tr > td, #carrier-select.table tbody > tr > th, #carrier-select.table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    border-top: 1px solid #d6d4d4;
    line-height: 1.42857;
    padding: 9px 8px 11px 18px;
    vertical-align: top;
}

#pwexpressorder .help_info i {
    font-size: 18px;
    /*padding:3px;*/
    /*display: inline-block;*/
}

#pwexpressorder .help_info {
    font-size: 12px;
    padding: 3px 0;
    color: #666;
}

.cart_image {
    text-align: center;
    min-height: 600px;
}

@media (max-width: 992px) {
    .cart_image {
        display: none;
    }
}

#pwexpressorder .btn-primary {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin: 10px;
}

#pwexpressorder .btn-primary:hover {
    color: #fff !important;;
    background-color: #286090;
    border-color: #204d74;
}

.jcf-select {
    width: 100%;
    float: none;
}

#HOOK_SHOPPING_CART .total-btm .text-right {
    vertical-align: middle;
    padding: 35px 0;
    font-size: 20px;
    line-height: 24px;
    color: #747273;
}

#HOOK_SHOPPING_CART .total-btm .text-right .price {
    font-size: 20px;
    font-family: 'myriad_probold';
    color: #565656;
}

.delivery-text {
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    font-weight: bold;
}

.pwexpressorder label input[type=checkbox] {
    top: 10px;
}
.addr_but {
    padding: 10px;
    font-size: 12px;
    background: #424242;
    border-color: #424242;
}

.addr_but:hover {
    background: white;
    border-color: #424242;
    color: #424242;
}

#pwexpressorder #submitPwExpressOrder {
}

@media screen and (max-width: 700px) {
    .payment_module a span.paytext{
        font-size: 14px;
        width: 250px;
    }
}
@media screen and (max-width: 530px) {
    .payment_module a span.paytext{
        display: none;
    }
    .payment_module a span.ima{
        border: none;
    }
    #HOOK_PAYMENT {
        border: none !important;
    }
    .payment_module {
        border: none;
        margin-bottom: 5px;
    }
}

#pwexpressorder .headline{
    text-align: left;
}

#pwexpressorder_form{

}

#delivery_address_block{
    margin-top: 20px;
}

/*#container_express_checkout{*/
    /*text-align: right;*/
/*}*/

#totalPrice{
    margin: 10px 40px 0 0;
}
.form-error input{
    border: 1px solid red !important;
}
.form-ok input{
    
}
.cart_not_empty .pwexpressorder .form-group{
    margin: 0 0 15px;
}
.cart_not_empty #pwexpressorder_form {
    margin: 60px 0 0 0;

}
.cart_not_empty #pwexpressorder .headline {
    padding-left: 0;
}
.cart_not_empty #delivery_address_block {
    margin-top: 0;
}
.cart_not_empty .std input[type="text"], .cart_not_empty .jcf-select, .cart_not_empty .std textarea {
    max-width: 500px;
}
.cart_not_empty #pwexpressorder #submitPwExpressOrder{
    margin-left: 0;
}
.cart_not_empty #show_delivery_address.button {
    margin: 36px 0 24px;
}
.firststep_img_3{
    margin: 0 0 0 -3px;
    display: inline-block;
    vertical-align: top;
}

.firststep_img_3 img {
    width: inherit;
    height: 481px;
}
@media (max-width: 1490px) {
    #HOOK_PAYMENT span.paytext{width: 300px;}
}
@media (max-width: 1430px) {
    #HOOK_PAYMENT span.paytext{width: 240px;}
}
@media (max-width: 1380px) {
    #HOOK_PAYMENT span.paytext{width: 175px;}
}
@media (max-width: 1290px) {
    .firststep_img_3 {display: none;}
    #HOOK_PAYMENT span.paytext {
        width: 60%;
    }
    .payment_module {
        max-width: 100%;
    }
}
#HOOK_SHOPPING_CART+.cart_navigation{
    display: none;
}

label.required-field:after{
    content: "*";
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px;
}

.pwexpress_button {
    background: #8a0057!important;
}
.pwexpress_button:hover {
    background:  #c2007b!important;
}
.pwexpress_footer {
    text-align: right;
    max-width: 74%;
}
@media(max-width: 768px) {
    .pwexpress_footer {
        max-width: 100%;
    }
}