<form method="POST">
    <input type="hidden" name="backupSQL" value="{$backupSQL|escape}"/>
    <input type="submit" name="submitUndo" value="Отменить связи">
</form>
<a href='#' class="button" onclick='window.location.href = window.location.href; return false;'>Вернуться к добавлению товаров</a>