<div class="form-group">
    <label class="control-label" for="{$key}">{$field.title}</label>
    <input class="text" type="text" id="{$key}" data-conf="1" name="{$key}" value="{$field.value}" />
</div>