#pwseo{
    position:fixed;
    top:0px;
    min-height:100px;
    width:100%;
    left:0px;
    background-color: rgba(2, 2, 1, 0.70);
    color:#FFF;
    z-index:9999;
    padding:10px;
}
#pwseo_slide{
    position:fixed;
    top:0;
    background-color: #000;
    height:4px;
    width:100%;
    left:0;
    z-index:9999;
    cursor: pointer;
    box-shadow: 0px 0px 10px #FFF;
}
#pwseo_description_popup{
    width: 800px;
    max-width: 100%;
}
.pwseo_title{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.pwseo_field-ajax{
    margin-bottom: 5px;
}
.pwseo_field-ajax label{
    width:120px;
    color: #000;
}
.pwseo_field-ajax input, .pwseo_field-ajax textarea{
    padding:5px;
    width:482px;
    color:#000;
    background:#FFF;
}

.pwseo_success{
    padding:8px;
    border:1px solid #00b110;
    background: #68ff7b;
    color: #005e0b;
    margin: 10px 0;
}

.pwseo_zone{
    margin-top: 20px;
}

#pwseo .button{
    font-size:14px;
    padding:5px;
}



#pwseo_editlink, #pwseo_menu{
    position: fixed;
    bottom: 20px;
    right: 5%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
}

.js-cart-open #pwseo_menu .pwseo_wrapper {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

@media only screen and (min-width: 1170px) {
    #pwseo_editlink, #pwseo_menu {
        bottom: 40px;
    }
}

#pwseo_container::before{
    content: '';
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}
#pwseo_editlink {
    z-index: 3;
    height: 72px;
    width: 72px;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: #FFF;
    padding: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:2px solid #FFF;
}
#pwseo_editlink:hover{
    border:2px solid #ffa110;
}
#pwseo_editlink::after, #pwseo_editlink::before {
    content: '';
    position: absolute;
    left: 56%;
    top: 55%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("./images/edit.png") no-repeat scroll 0 0;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, transform .2s;
    transition: opacity .2s, transform .2s, -webkit-transform .2s;
}
#pwseo_editlink::after {
    background-position: -72px 0;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open #pwseo_editlink::before {
    opacity: 0;
}
.cart-open #pwseo_editlink::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#pwseo_menu {
    z-index: 2;
    width: 90%;
    width: 320px;
    height: 110px;
    max-height: 90%;
    pointer-events: none;
}

#pwseo_menu .pwseo_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 6px;
    -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    pointer-events: auto;
    overflow: visible;
}
#pwseo_menu a{
    display:block;
    background: #089fff;
    color:#FFF !important;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding: 4px 6px;
    text-align:center;
    font-weight: bold;
    width:241px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
#pwseo_menu a:hover{
    background: #FFF;
    color:#089fff !important;
}

#pwseo_meta_popup, #pwseo_description_popup{
    max-width: 100%;
    width: 750px;
}
#pwseo_meta_popup .form-error, #pwseo_description_popup .form-error{
    color:red;
    padding:8px;
    border:1px solid #00b110;
    background: #68ff7b;
    margin: 10px 0;
}
#pwseo_meta_popup .form-success, #pwseo_description_popup .form-success{
    padding:8px;
    border:1px solid #00b110;
    background: #68ff7b;
    color: #005e0b;
    margin: 10px 0;
}
#pwseo_meta_popup label, #pwseo_description_popup label{
    font-weight: bold;
}
#pwseo_meta_popup input[type=text], #pwseo_description_popup textarea{
    width: 100%;
}
#pwseo_description_popup textarea.autoload_rte{
    min-height: 200px;
}