{* 

We are working for pagination 
Please wait today or tomorrow we will release a update for this.  

*}

{* <nav class="pagination">
  <div class="col-md-4">
	{l s=' Showing 1-7 of 7 item(s) ' mod='xipblog'}
  </div>
  <div class="col-md-6">
    <ul class="page-list clearfix text-xs-center">
		<li>
			<a rel="prev" href="http://localhost/prestashop_showcase/prestashop/17/3-women?page=1" class="previous disabled js-search-link">
				<i class="material-icons"></i>{l s='Previous' mod='xipblog'}
			</a>
		</li>
		<li class="current">
		      <a rel="nofollow" href="http://localhost/prestashop_showcase/prestashop/17/3-women?page=1" class="disabled js-search-link">
		              1
		          </a>
		</li>
		<li>
			<a rel="next" href="http://localhost/prestashop_showcase/prestashop/17/3-women?page=1" class="next disabled js-search-link">
			  {l s='Next' mod='xipblog'}<i class="material-icons"></i>
			</a>
		</li>
    </ul>
  </div>
</nav>

{* We are working for pagination 
Please wait today or tomorrow we will release a update for this.  *}