a {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
#posthemeoptions .nav-tabs {
	border: 1px solid #ddd;
}
#posthemeoptions .nav-tabs .tab-row {
	display: block;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
#posthemeoptions .nav-tabs .tab-row  a{
	border:none;
}
#posthemeoptions .nav-tabs .tab-row:last-child {
	border: none;
}
#posthemeoptions .nav-tabs .tab-row.active a, #posthemeoptions .nav-tabs .tab-row:hover a{
	border: none;
}
.fontshow {
	border: 1px solid #CCCED7;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
#content.bootstrap .panel {
	clear: both;
}