.product-page #product-images-container-sthoverimage{border:1px solid #bbcdd2;display:inline-block;width:100%;position:relative}
.product-page #product-images-dropzone-sthoverimage{min-height:340px;border:none;padding:5px;margin-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;transition:width .5s ease-out,margin .5s ease-out;z-index:1}
.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview .dz-details{background: rgba(255,255,255,0.9);opacity: 1;padding:4px 0;cursor: pointer;}
.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview{width:130px;height:130px;border:1px solid #bbcdd2;cursor:pointer}
.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview.active,.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview:hover{border-color: #25b9d7;}
.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview .dz-image{border-radius:0;width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.product-page #product-images-dropzone-sthoverimage.dropzone .dz-preview .isRotator{background:#6c868e;font-size:12px;color:#fff;text-align:center;padding:5px;position:absolute;z-index:10;bottom:0;width:100%;}