#module-favoriteproducts-account #left_column {display:none}
#module-favoriteproducts-account #center_column {width:757px}

#quickview-modal-3-13 > div > div > div.modal-footer > div.wishlist {display:none}

#favoriteproducts_block_account .favoriteproduct {
	position:relative;
   margin-bottom: 14px;
   padding: 12px 8px;
	border: 1px solid #eee;
   border-radius: 3px 3px 3px 3px;
}

.favoriteproduct a.product_img_link {
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
}

.favoriteproduct h3 {
    color: #000000;
    font-size: 13px;
    padding: 0 0 10px;
}

.favoriteproduct  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.favoriteproduct .remove {
	position:absolute;
	top:10px;
	right:10px
}
.favoriteproduct .remove .icon {cursor:pointer}

#pwfavoriteAdd:before{
        content: "\f08a" !important;
}
#pwfavoriteRemove:before{
        content: "\f004" !important;
}
#favorite-link a:hover{
    background: #2b2b2b;
}
#favorite-link a{
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
}
#favorite-link{
    float: right;
    border-left: 1px solid #515151;
}